@model ImageProcessing.Models.FileUploadModel

@using (Html.BeginForm("UploadFiles", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.File, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.File, new { htmlAttributes = new { @class = "form-control", @type = "file" } })
                @Html.ValidationMessageFor(model => model.File, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" class="btn btn-primary" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 text-success">
                @ViewBag.FileStatus
            </div>
        </div>
        
        <p>
            @Html.ActionLink("Black and White", "ImageToBlack") --
            @Html.ActionLink("Negative", "Negative") --
            @Html.ActionLink("Mediere Spatiala", "ImageMediation") --
            @Html.ActionLink("Filtru trece sus", "FilterUp") --
            @Html.ActionLink("Biomed", "BiomedFilter") --
            @Html.ActionLink("Contur", "Contur") --
            @Html.ActionLink("Subtiere", "Subtiere") --
            @Html.ActionLink("Move", "Move") --

        </p>
        

        <div style="display: inline-flex; width: 100%">
            <div style="margin-right: 2%; width: 49%">
                <img style="width: 100%" src="@("../../UploadedFiles/"+ ViewBag.Current)" alt="Current"/>
            </div>
            <div style="width: 49%">
                <img style="width: 100%" src="@("../../UploadedFiles/"+ ViewBag.Result)"alt="Result"/>
            </div>
        </div>
        

    </div>
}
